- content_for :banner do
  %section#map.sectionTitle
    %hgroup
      %h1
        %span#arabesqueLeft &nbsp;
        %span RAILS
        AU QUÉBEC
        %span#arabesqueRight &nbsp;
= render :file => 'layouts/application'
